<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ShrinksOffice{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
    <div class="container" style="max-width: 1200px; margin: 0 auto" >
        <h1 class="text-center">shrinksoffice</h1>
        {% include 'navigation/nav.html.twig' %}
        <main class="border border-opacity-75 border-success" style="min-height: 600px">
          {% block body %}{% endblock %}
        </main>
    </div>
</body>
</html>

